@media (max-width: 580px) {
    .form-container {
        padding: 15px;
    }
    .input-field, .range-input {
        margin-bottom: 15px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    background-image: url('./images.jpg');
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 30px;
}

.label-bold {
    font-weight: bold;
    color: #333;
}

.input-field, .range-input {
    width: 100% !important;
    padding: 12px;
    border: 2px solid #5e5e5e;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
}

.input-disabled {
    background-color: #f0f0f0;
    color: #777;
}




